body{
    background-color: #7C33A7;
    background: linear-gradient(to right, #7C33A7, #5338AC);
}

nav {
    background-color: #0a0a0a;
    color: #edf0f1;
}

a{
    color: #edf0f1 !important;
    transition: 0.7s !important;
}

a:hover {
    color: #57409f !important;
}

.material-symbols-rounded {
    color: #edf0f1;
}

.navbar-nav {
    transition: 2s;
}



.blanco{
    color:#edf0f1;
}

.purpura{
    color:#57409f !important;
}

.fondoPurpura{
    background-color: #57409f !important;
    border: none;
}